/*==========================================================================
* Header One CSS
==========================================================================*/
.header-one {
    padding: 15px 0;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 99;
    &__left.logo {
        img {
            max-width: 140px;
        }
    }
    &__center {
        &-menu {
            ul {
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    position: relative;
                    list-style: none; 
                    margin: 0 15px;
                    &:hover {
                        > a {
                            color: var(--primary-color-1);
                        }
                        > .sub-menu {
                            visibility: visible;
                            opacity: 1;
                            transition-duration: 0.4s;
                            transform: translateY(0);
                        }
                    }
                    &:last-child .sub-menu .sub-menu,
                    &:nth-last-child(2) .sub-menu .sub-menu {
                        left: inherit;
                        right: 100%;
                    }
                    .sub-menu {
                        position: absolute;
                        background: var(--color-1);
                        min-width: 260px;
                        top: 51px;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 99;
                        border-top: 2px solid var(--codify-primary-color);
                        text-align: left;
                        transform-origin: top;
                        transition-duration: 0.3s;
                        transform: translateY(10px);
                        li {
                            display: block;
                            padding: 0 30px;
                            margin: 0;
                            &::after {
                                display: none;
                            }
                            > a {
                                border-bottom: 1px solid var(--color-4);
                                color: var(--text-white);
                                padding: 12px 0;
                                transition: all 0.4s ease-out 0s;
                                font-size: 16px;
                                line-height: 26px;
                                text-transform: capitalize;
                                position: relative;
                                &::after {
                                    position: absolute;
                                    content: '';
                                    background: var(--primary-color-1);
                                    width: 0;
                                    transition: all 0.4s ease-out 0s;
                                    height: 1px;
                                    left: 0;
                                    bottom: -1px;
                                }
                            }
                            .sub-menu {
                                left: 100%;
                                top: 0;
                            }
                            &:hover {
                                > a {
                                    color: var(--primary-color-1);
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                            &:last-child > a {
                                border: none;
                                &::after {
                                    display: none;
                                }
                            }
                            &:first-child .sub-menu {
                                top: 0;
                            }
                        }
                        .menu-item-has-children > {
                            a {
                                &::before {
                                    content: '\f105';
                                    right: 0;
                                    color: var(--text-white);
                                }
                            }
                        }
                    }
                    a {
                        color: var(--heading-color);
                        display: block;
                        font-size: 18px;
                        line-height: 28px;
                        transition: 0.4s;
                        font-family: var(--body-font);
                    }
                    &.menu-item-has-children > {
                        a {
                            position: relative;
                            &::before {
                                content: '\f107';
                                position: absolute;
                                top: 50%;
                                transform: translateY(-48%);
                                right: -16px;
                                font-family: 'Font Awesome 5 Pro';
                                font-weight: 400;
                                color: var(--heading-color);
                                transition: 0.3s;
                                font-size: 14px;
                            }
                        }
                    }
                    &.menu-item-has-children {
                        padding-right: 15px;
                        &:hover > a {
                            &::before {
                                color: var(--primary-color-1);
                            }
                        }
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: end;
        &-search {
            margin-right: 25px;
            padding-right: 25px;
            border-right: 1px solid var(--body-color);
            &-icon i {
                cursor: pointer;
                position: relative;
                z-index: 9;
                display: block;
                color: var(--heading-color);
                font-size: 20px;
                font-weight: 400;
            }
            &-box {
                position: fixed;
                bottom: 0;
                width: 100%;
                left: 0;
                right: 0;
                height: 100vh;
                background: var(--color-1);
                z-index: 9999;
                overflow: hidden;
                form {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 55%;
                    transition: all 0.5s ease-out;
                }
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 22px;
                    padding: 0;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;                            
                }
                &-icon {
                    position: absolute;
                    right: 50px;
                    top: 50px;
                    i {
                        cursor: pointer;
                        position: relative;
                        z-index: 9;
                        display: block;
                        font-size: 22px;
                        color: var(--text-white);	
                        transform: rotate(0deg);
                        &:hover {
                            animation: rotate 0.4s ease 0s;			
                        }
                    }
                }
            }
        }
        &-sidebar {
            &-popup {
                position: fixed;
                width: 460px;
                height: 100%;
                right: 0;
                overflow: auto;
                transform: translateX(100%);
                top: 0;
                background: var(--color-1);
                opacity: 0;
                visibility: hidden;
                z-index: 999999;
                transition: transform .5s ease .4s;
                padding: 50px 40px;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0%);
                    right: 0;
                }
                &-icon {
                    i {
                        display: block;
                        font-size: 30px;
                        color: var(--heading-color);
                        cursor: pointer;
                        transform: scaleX(-1);
                    }
                }
                .sidebar-close-btn {
                    position: absolute;
                    top: 40px;
                    right: 40px;
                    transform: rotate(0);
                    i {
                        background: var(--secondary-color-2);
                        width: 40px;
                        color: var(--heading-color);
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 50%;
                        cursor: pointer;
                        display: block;
                    }
                    &:hover {
                        animation: rotate 0.4s ease 0s;			
                    }
                }
                &-logo {
                    margin-bottom: 30px;
                    a {
                        display: inline-block;
                        img {
                            max-width: 160px;
                        }
                    }
                }
                p {
                    color: #afafaf;
                }
                &-contact {
                    margin: 40px 0;
                    padding: 40px 0;
                    border-top: 1px solid var(--color-4);
                    border-bottom: 1px solid var(--color-4);
                    &-item {
                        display: flex;
                        margin-bottom: 25px;
                        gap: 25px;
                        &-icon {
                            margin-top: 8px;
                            width: 30px;
                            i {
                                color: var(--secondary-color-2);
                                font-size: 30px;                
                            }
                        }
                        &-content {
                            span {
                                color: var(--color-3);
                                display: inline-block;
                                font-size: 16px;
                                line-height: 28px;
                            }
                            h6 {
                                max-width: 240px;
                                font-size: 18px;
                                line-height: 28px;                                  
                                a {
                                    transition: all 0.4s ease-out;
                                    color: var(--text-white);
                                    &:hover {
                                        color: var(--secondary-color-2);
                                    }
                                }
                            }
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                    h4 {
                        color: var(--text-white);
                    }
                }
            }
        }
        &-button {
            margin-left: 30px;
        }
    }
}
/*==========================================================================
* Header Two CSS
==========================================================================*/
.header-two {
    background: var(--color-2);
    padding-top: 30px;
    &-area {
        border: 1px solid var(--color-1);
        padding: 27px 30px;
        border-radius: 5px;
        background: var(--bg-white);
    }
}
/*==========================================================================
* Menu Bar Sticky CSS
==========================================================================*/
.header__sticky {
    &.sticky-menu {
        position: fixed !important;
        top: 0;
        background: var(--bg-white);
        z-index: 800;
        right: 0;
        left: 0;
        width: 100%;
        transition: 0.4s;
        box-shadow: 0px 20px 30px rgba(3, 4, 28, 0.1);
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    }
}
/*==========================================================================
* Menu Sidebar CSS
==========================================================================*/
.sidebar-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	transition: all 0.8s ease-out;
    visibility: hidden;
    z-index: 99999;
    background: var(--color-1);
    opacity: 0.8;
    &.show {
        visibility: visible;
        width: 100%;
    }
}
/*==========================================================================
* Responsive Menu Sidebar CSS
==========================================================================*/
.vertical-menu {
    padding-right: 6px;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            position: relative;
            a {
                padding: 14px 0;
                display: block;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
                transition: all 0.4s ease;
                border-bottom: 1px solid var(--color-4);
                color: var(--text-white);
            }
            &.menu-item-has-children {
                > span {
                    position: absolute;
                    top: 15px;
                    right: 0;
                    cursor: pointer;
                    text-align: center;
                    background: var(--secondary-color-1);
                    color: var(--heading-color);
                    z-index: 1;
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    line-height: 26px;                 
                    &.is-open::before {
                        content: '\f068';
                    }
                }
                .sub-menu {
                    display: none;
                }
            }
            &:hover > a {
                color: var(--secondary-color-1);
            }
            & .sub-menu {
                padding-left: 20px;
                li  a {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }
}
.menu__bar {
    display: none;
    i {
        display: block;
        font-size: 30px;
        color: var(--heading-color);
        cursor: pointer;        
    }
    &-popup {
        display: none;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        z-index: 9999;
        transition: 0.5s;
        transform: translateX(-100%);
        padding: 40px;
        background: var(--color-1);
        &.show {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            & .menu__bar-popup {
                &-left-social {
                    background: var(--color-1);
                }
                &-right-contact {
                    transition: transform 2s ease 0.4s, opacity 2s ease 0.4s;
                    transform: translateX(0);
                    opacity: 1;                    
                }
            }
        }
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            .logo img {
                max-width: 140px;
            }
            .close {
                i {
                    background: var(--secondary-color-1);
                    width: 40px;
                    color: var(--heading-color);
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    cursor: pointer;
                    display: block;
                }
                &:hover {
                    animation: rotate 0.4s ease 0s;			
                }
            }
        }
        &-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            transition: 0.8s;
            visibility: hidden;
            z-index: 9;
            background: var(--color-1);
            opacity: 0.8;
            display: none;
            &.show {
                visibility: visible;
                width: 100%;
            }            
        }
    }
}
@media (max-width: 1550px) {
    .header-one__center-menu ul li:nth-child(n+5) .sub-menu li .sub-menu {
        right: 100%;
        left: initial;
    }
}
@media (max-width: 1199px) {    
    .header-one__right-button {
        display: none;
    }
    .header-one {
        padding: 28px 0;
    }
}
@media (max-width: 991px) {
    .header-one__right-sidebar,
    .res-hide,
    .header-one__center {
        display: none;
    }
    .header-one {
        padding: 25px 0;
    }
    .menu__bar {
        display: block;
        &-popup {
            display: block;
            &-overlay {
                display: block;
            }
        }
    }
}
@media (max-width: 520px) {
    .menu__bar-popup {
        width: 100%;
        &-overlay {
            display: none;
        }
    }
}
@media (max-width: 360px) {
    .header-two-area {
        padding: 27px 15px;
    }
    .header-one__right-search {
        margin-right: 20px;
        padding-right: 20px;
    }
}